<p>Login works!</p>

<form [formGroup]="loginFrom" (ngSubmit)="submitForm()">
<div class="row col-md-4" style="margin: auto;">
    <div class="mb-3">
        <label for="" class="form-label">Email address</label>
        <!-- {{f.email.errors | json}} -->
        <input type="email" class="form-control" formControlName="email" placeholder="name@example.com"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Name is required</div>
            <div *ngIf="f['email'].errors['email']">Enter valid email</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Enter your password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['maxlength']">Max 20 chars Password  are allowed</div>
        </div>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</div>
</form>